In [3]:
from sqlite3 import connect
import pandas as pd

conn = connect("machine2.db")

df = pd.read_sql_query("SELECT participantId, instanceId, agreement_level from personality", conn)
df

         participantId  instanceId agreement_level
0      97f4_7385706431           8            None
1      97f4_7385706431          25            None
2      97f4_7385706431          28            None
3      97f4_7385706431          30            None
4      97f4_7385706431           9            None
...                ...         ...             ...
47156  zzru_7377077714          32               4
47157  zzru_7377077714          11               2
47158  zzru_7377077714           2               4
47159  zzru_7377077714          33               4
47160  zzru_7377077714          23               4

[47161 rows x 3 columns]